<div class="modal fade bd-example-modal-lg" id="updateAvatar" tabindex="-1" role="dialog" aria-labelledby="updateAvatar"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm mới phiên làm việc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/admin/delegates/edit-avatar" enctype="multipart/form-data">
          <div class="row">
            
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Mã số Sinh viên</label>
                <input type="text" class="form-control" name="IdNumber" aria-describedby="IdNumber" id="IdNumber"
                  placeholder="Mã số sinh viên" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Hình đại diện</label>
                <input type="file" class="form-control-file" name="imageLink" id="exampleFormControlFile1" required>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary" id="submit">Thêm mới</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $('#IdNumber').blur(function () {
    let IdNumber = $('#IdNumber').val();
    $.ajax({
      url: '/admin/delegates/create/' + IdNumber,
      method: 'GET',
      success: function (result) {
        if (result.data) {
          $('#IdNumber').notify("Mã số sinh viên này đã tồn tại", "danger");
          $('#submit').prop('disabled', true);
        } else {
          $('#submit').prop('disabled', false);
        }
      }
    })
  })
</script>