<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>TITLE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">


  <!-- Font -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

  <!-- Stylesheets -->

  <!-- <link href="/css/comming-soon/bootstrap.css" rel="stylesheet"> -->

  <link href="/css/comming-soon/styles.css" rel="stylesheet">

  <link href="/css/comming-soon/responsive.css" rel="stylesheet">

  <link href="/css/comming-soon/ionicons.css" rel="stylesheet">


  <link rel="stylesheet" href="/css/comming-soon/jquery.classycountdown.css" />
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
  <link rel="shortcut icon" href="/favicon.ico" />

</head>

<body>

  <!-- SCIPTS -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io.connect('http://daihoi.hsvbot.me');
    socket.on('totalOfDelegates-<%- sessionInfo._id %>', function (data) {
      $('#totalOfDelegates').text(data.delegates.length)
    })
  </script>
  <script>
    socket = io.connect('http://daihoi.hsvbot.me');
    socket.on('delegatesIn', function (data) {
      console.log(data);
    })
  </script>

</body>

</html>