<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>TITLE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">


  <!-- Font -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

  <!-- Stylesheets -->

  <!-- <link href="/css/comming-soon/bootstrap.css" rel="stylesheet"> -->

  <link href="/css/comming-soon/styles.css" rel="stylesheet">

  <link href="/css/comming-soon/responsive.css" rel="stylesheet">

  <link href="/css/comming-soon/ionicons.css" rel="stylesheet">


  <link rel="stylesheet" href="/css/comming-soon/jquery.classycountdown.css" />
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
</head>

<body>


  <div class="main-area-wrapper">
    <div class="main-area center-text" style="background-image:url(/images/countdown-5-1600x900.jpg);">

      <div class="display-table">
        <div class="display-table-cell">

          <h1 class="title"><b>Đại hội Đại biểu Hội sinh viên nhiệm kỳ 2018 - 2020</b></h1>
          <p class="desc font-white">Phiên làm việc: <%- sessionInfo.name %></p>

          <div id="normal-countdown">
            <div class="time-sec">
              <div class="clearfix" style="padding-top: 25%;">
                <div class="float-left">
                  <i class="mdi mdi-cube text-danger icon-lg"></i>
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Tổng số đại biểu</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0" id="totalOfDelegates"><%- sessionInfo.delegates.length %></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="notify-btn" href="#"><b>NOTIFY US</b></a>

          <ul class="social-btn">
            <li class="list-heading">Follow us for update</li>
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
          </ul>

        </div><!-- display-table -->
      </div><!-- display-table-cell -->
    </div><!-- main-area -->
  </div><!-- main-area-wrapper -->

  <!-- SCIPTS -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io.connect('http://localhost:2589');
    socket.on('totalOfDelegates-<%- sessionInfo._id %>', function (data) {
      $('#totalOfDelegates').text(data.delegates.length)
    })
  </script>
  <script>
    socket = io.connect('http://localhost:2589');
    socket.on('delegatesIn', function (data) {
      console.log(data);
    })
  </script>

</body>

</html>