<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Đại hội Đại biểu Hội sinh viên Việt Nam - ĐH Công nghệ thông tin ĐHQG-HCM</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://daihoi.hsv.me/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Đại hội Đại biểu Hội sinh viên Việt Nam" />
  <meta property="og:description" content="Lần 4 - Nhiệm kỳ 2018 - 2020" />
  <meta property="og:image" content="http://daihoi.hsvbot.me/images/background.png" />
  <meta charset="UTF-8">


  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
  <link href="/css/comming-soon/ionicons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/comming-soon/jquery.classycountdown.css" />
  <link href="/css/comming-soon/home-page/styles.css" rel="stylesheet">
  <link href="/css/comming-soon/home-page/css/responsive.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" />

</head>

<body>

  <div class="main-area center-text" style="background-image:url(/images/background.png); background-size: cover; background-position: center;">

    <div class="display-table">
      <div class="display-table-cell">




        <ul class="social-btn">
          <div id="normal-countdown" data-date="2018/10/06 08:00:00"></div>
        </ul>

      </div><!-- display-table -->
    </div><!-- display-table-cell -->
  </div><!-- main-area -->


  <!-- SCIPTS -->

  <script src="/js/comming-soon/jquery-3.1.1.min.js"></script>

  <script src="/js/comming-soon/jquery.countdown.min.js"></script>

  <script src="/js/comming-soon/scripts.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io.connect('http://daihoi.hsvbot.me:2589');
    socket.on('totalOfDelegates', function (data) {
      $('#totalOfDelegates').text(data.delegates.length)
    })
    socket.on('delegatesIn', function (data) {
      console.log(data);
    })
  </script>
</body>

</html>