<!DOCTYPE html>
<html>

<!-- Mirrored from themewar.com/html/topland/topbiz/folio2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 11 Oct 2018 06:13:22 GMT -->

<head>
  <title>Đại hội Đại biểu Hội sinh viên Việt Nam - ĐH Công nghệ thông tin ĐHQG-HCM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Include All CSS -->
  <link href="/css/comming-soon/home-page/styles.css" rel="stylesheet">
  <link href="/css/comming-soon/home-page/responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/home-page/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/prettyPhoto.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/rticons.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/js-image-slider.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/preset.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/home-page/animate.css" />
  <link id="layout" rel="stylesheet" type="text/css" href="/css/home-page/colorpreset/wide.css" />
  <link id="colorChem" rel="stylesheet" type="text/css" href="/css/home-page/colorpreset/light.css" />
  <link id="colorsSet" rel="stylesheet" type="text/css" href="/css/home-page/colorpreset/color1.css" />
  <link rel="stylesheet" href="/css/comming-soon/jquery.classycountdown.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

  <!-- Favicon Icon -->
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <!-- Favicon Icon -->

  <!--[if lt IE 9]>
            <script src="/js/home-page/html5shiv.js"></script>
        <![endif]-->
</head>

<body style="font-family: 'Roboto Condensed', sans-serif;">


  <div class="main-area center-text" style="background-image:url(/images/background_no_logo.png); background-size: cover; background-position: center;">
    <img src="/images/logo.png" class="logo-dai-hoi">
    <div class="display-table">
      <div class="display-table-cell">

        <ul class="social-btn">
          <div id="normal-countdown" data-date="2018/10/13 08:00:00"></div>
        </ul>

      </div><!-- display-table -->
    </div><!-- display-table-cell -->
  </div><!-- main-area -->

  <div class="boxWrapper">
    <!--================= Box Div Start ==================-->
    <!-- Header Area -->
    <!-- Breadcrumb Section -->
    <section class="breadCrumArea portfolioArea">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <h1 class="fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">Các mô hình, giải pháp</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Section -->
    <section class="portfolioArea commonSection folioPage2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12 fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
            <ul class="folioBtn text-center">
              <li class="filter" data-filter="all">All</li>
              <li class="filter" data-filter="2017-2018">Năm 2017 - 2018</li>
              <li class="filter" data-filter="2016-2017">Năm 2016 - 2017</li>
              <li class="filter" data-filter="2015-2016">Năm 2015 - 2016</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div id="mixer">

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/brainy.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/brainy.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Brainy</a></h3>
                  <p>
                    “Brainy” là một dự án xây dựng thẻ học tiếng anh (flashcard) thế hệ mới được thiết kế bởi Câu lạc bộ
                    Open English Club
                  </p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/wabisabi.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/wabisabi.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Wabisabi</a></h3>
                  <p>
                    Công cụ hỗ trợ sinh viên trong hoạt động Đoàn Hội.
                  </p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/bong-chuyen-2018.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/bong-chuyen-2018.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Bóng chuyền nam Mở rộng 2018</a></h3>
                  <p>
                    Tạo sân chơi cho các bạn sinh viên giao lưu, học hỏi và rèn luyện kĩ năng, kỹ thuật của môn thể
                    thao bóng chuyền. </p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/gioi-thieu-hsv.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/gioi-thieu-hsv.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Giới thiệu về tổ chức HSV </a></h3>
                  <p>
                    Giúp các bạn TSV được giới thiệu về tổ chức Hội sinh viên trường Đại học Công nghệ Thông
                    tin, cũng như Hội sinh viên Việt Nam.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/gioi-thieu-hsv.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/gioi-thieu-hsv.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Sao của Tháng</a></h3>
                  <p>
                    Tạo môi trường rèn luyện và thi đua sôi nổi cho đội ngũ cán bộ Đoàn – Hội và sinh viên năng nổ,
                    đóng góp tích cực cho các phong trào – hoạt động sinh viên tại trường</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/toeic.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/toeic.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Thi thử TOEIC mỗi tháng </a></h3>
                  <p>
                    Tạo môi trường giả lập cuộc thi tiếng anh TOEIC quốc tế, giúp sinh viên làm quen với phong cách làm
                    bài, khuôn khổ đề thi.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/chi-hoi-vung-manh.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/chi-hoi-vung-manh.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Chi Hội Vững Mạnh</a></h3>
                  <p>
                    Định hướng công tác tổ chức tại chi Hội phù hợp với định hướng của Hội Sinh viên trường</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/chuoi-trinh-nguyen.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/chuoi-trinh-nguyen.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Chuỗi hoạt động tình nguyện </a></h3>
                  <p>
                    Hướng sinh viên đến những công việc có ích cho xã hội, tìm hiểu về cuộc sống và những hoàn cảnh khó
                    khăn tại một số địa bàn trong và ngoài thành phố</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/anh-hung-liet-si.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/anh-hung-liet-si.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Số hóa các bia mộ Liệt sĩ</a></h3>
                  <p>
                    Đẩy mạnh các hoạt động tình nguyện tại chỗ; đẩy mạnh các hoạt động tình nguyện gắn với chuyên môn
                    nhằm xây góp phần quảng bá hình ảnh của trường</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/an-tuong-uit.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/an-tuong-uit.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Ấn tượng UIT</a></h3>
                  <p>
                    Tìm những nhân tố tốt có kỹ năng tham gia hỗ trợ truyền thông cho các hoạt động của Đoàn trường,
                    Hội sinh viên trường và nhà trường.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/anh-hung-liet-si.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/anh-hung-liet-si.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Ấn phẩm Truyền thông phong trào SV 5 Tốt</a></h3>
                  <p>
                    Tiếp cận đông đảo tân sinh viên, tạo ấn tượng cho các bạn tân sinh viên không chỉ về phong trào
                    Sinh viên 5 Tốt, mà còn ở bề dày truyền thống hoạt động, công tác </p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/asean-3.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/asean-3.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Gian hàng văn hoá Asean+3</a></h3>
                  <p>
                    Tạo điều kiện cho các bạn biết đến văn hóa các nước Asean, và trải nghiệm các sản phẩm mới về công
                    nghệ phục vụ cho nhu cầu học tập và vui chơi.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/gioi-thieu-hsv.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/gioi-thieu-hsv.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Sinh viên CNTT lấy chuyên môn làm tình nguyện</a></h3>
                  <p>
                    Nhằm phát huy tinh thần xung kích, tình nguyện thông qua việc tổ chức hoạt động tình
                    nguyện gắn với chuyên môn, hoạt động tình nguyện tại chỗ</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/kho-tai-lieu.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/kho-tai-lieu.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Kho tài liệu sức trẻ MMT</a></h3>
                  <p>
                    Giới thiệu nội dung kiến thức cơ bản của từng môn học, kèm theo nhiều tài liệu tham khảo và bài tập
                    để sinh viên tự học tập</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/vinh-danh.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/vinh-danh.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Trang Vinh Danh</a></h3>
                  <p>
                    Thống kê các danh hiệu cao quý của sinh viên, giảng viên và các bộ trẻ tiêu biểu.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/uit-music-fest.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/uit-music-fest.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">UIT Music Festival</a></h3>
                  <p>
                    Tạo cơ hội để các bạn sinh viên trong trường thể hiện tài năng nghệ thuật của mình, góp phần làm đa
                    dạng các mô hình hoạt động về đời sống tinh thần cho các bạn sinh viên.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2017-2018">
                <div class="folioImg2">
                  <img src="/images/bao-cao/gioi-thieu-hsv.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/gioi-thieu-hsv.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Xuân biên giới</a></h3>
                  <p>
                    Bổ sung kiến thức về an ninh quốc phòng, biên phòng, vai trò của lực lượng bộ đội biên phòng cho
                    chiến sĩ Xuân tình nguyện và sinh viên tham gia giao lưu</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/gioi-thieu-hsv.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/gioi-thieu-hsv.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Xếp loại - đánh giá Chi Hội</a></h3>
                  <p>
                    Thực hiện công tác tổng kết, đánh giá chất lượng chi Hội năm học 2016 – 2017, tạo động lực thi đua
                    giữa các chi Hội.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/wabisabi.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/wabisabi.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">HSVBot</a></h3>
                  <p>
                    Chatbot hỗ trợ tìm kiếm các địa điểm tình nguyện.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/gioi-thieu-hsv.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/gioi-thieu-hsv.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">An toàn Giao thông 2017</a></h3>
                  <p>
                    Giúp sinh viên hiểu rõ hơn về luật an toàn giao thông cũng như những sửa đổi, điều chỉnh tính đến
                    thời điểm hiện tại</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/lien-hoan-tai-nang.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/lien-hoan-tai-nang.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Liên hoan Tài năng Cán bộ Đoàn - Hội</a></h3>
                  <p>
                    Tạo sân chơi văn hóa tinh thần lành mạnh cho đội ngũ Cán bộ Đoàn TN – Hội SV các cấp</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/phien-toa-gia-dinh.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/phien-toa-gia-dinh.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Mô hình Phiên tòa giả định</a></h3>
                  <p>
                    Đem lại kiến thức cho sinh viên về những tình huống cụ thể được quy định bởi pháp luật</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/sinh-vien-5-tot.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/sinh-vien-5-tot.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Trao đổi kinh nghiệm hỗ trợ SV 5 tốt</a></h3>
                  <p>
                    Thắt chặt sự đoàn kết, hỗ trợ, phát huy tối đa sự phối hợp tổ chức hoạt động của mỗi cơ sở Hội
                    trong trường.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/duyen-dang-sinh-vien.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/duyen-dang-sinh-vien.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Duyên Dáng Sinh Viên UIT 2017</a></h3>
                  <p>
                    Chương trình là cơ hội để các bạn nữ có thể tôn vinh được tài năng và vẻ đẹp của các bạn. Bên cạnh
                    đó, chương trình còn tạo một hoạt động ý nghĩa trong ngày 08 tháng 3.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/gioi-thieu-hsv.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/gioi-thieu-hsv.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Mô hình Sinh viên 5 Tốt</a></h3>
                  <p>
                    Giúp Sinh viên có cái nhìn sâu sắc hơn về Phong trào Sinh viên 5 Tốt, quan tâm đến từng cá nhân, tập
                    thể, hỗ trợ sinh viên về nhiều mặt.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/it-car-racing.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/it-car-racing.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Cuộc thi IT Car Racing</a></h3>
                  <p>
                    Là cuộc thi về lĩnh vực tự động hóa – lập trình nhúng được tổ chức thường niên dành cho học sinh,
                    sinh viên đam mê về Lập trình nhúng.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/chuoi-trinh-nguyen.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/chuoi-trinh-nguyen.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Chuỗi hoạt động tình nguyện</a></h3>
                  <p>
                    Hướng sinh viên đến những công việc có ích cho xã hội, tìm hiểu về cuộc sống và những hoàn cảnh khó
                    khăn tại một số địa bàn trong và ngoài thành phố.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2016-2017">
                <div class="folioImg2">
                  <img src="/images/bao-cao/speak-it-out.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/speak-it-out.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Hùng biện Speak It Out</a></h3>
                  <p>
                    Tạo sân chơi học tập và rèn luyện bổ ích, tạo điều kiện cho sinh viên thực hành và nâng cao khả năng
                    tiếng anh của bản thân.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2015-2016">
                <div class="folioImg2">
                  <img src="/images/bao-cao/drl-sv-5-tot.jpg" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/drl-sv-5-tot.jpg" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">Theo dõi tiến trình Sinh viên 5 tốt</a></h3>
                  <p>
                    Đưa phong trào Sinh viên 5 tốt đến gần gũi với sinh viên, hỗ trợ sinh viên có thể theo dõi dễ dàng và
                    nhanh chóng những tiêu chí.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-sm-4 col-xs-12 text-center mix 2015-2016">
                <div class="folioImg2">
                  <img src="/images/bao-cao/asean.png" alt="">
                  <div class="folioHover2">
                    <a href="/images/bao-cao/asean.png" class="prePhoto2" data-rel="prettyPhoto"><i class="icon-search3"></i></a>
                    <a href="folioSingle.html" class="detailsLink2"><i class="icon-location"></i></a>
                  </div>
                </div>
                <div class="portfolioDetails">
                  <h3><a href="folioSingle.html">“Asean… Bạn có biết?”</a></h3>
                  <p>
                    Đáp ứng nhu cầu tìm hiểu về vai trò, tác động của cộng đồng ASEAN của đông đảo sinh viên.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>



            <div class="clearfix"></div>
            <div class="col-lg-12 text-center wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
              <ul class="defaultPagi">
                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer class="footerArea">
      <section class="footerTop commonSection">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
              <div class="footerContent">
                <h2 class="fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">Tự tế - Tài năng - Tiến bộ</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <!--================= Box Div End ==================-->
  </div>

  <!--================= Box Div Start ==================-->

  <!--================= Box Div End ==================-->
  <!--================= Back To Top ==================-->
  <!-- Include All JS -->
  <script type="text/javascript" src="/js/home-page/jquery.js"></script>
  <script type="text/javascript" src="/js/home-page/bootstrap.js"></script>
  <script type="text/javascript" src="/js/home-page/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="/js/home-page/mixer.js"></script>
  <script type="text/javascript" src="/js/home-page/appear.js"></script>
  <script type="text/javascript" src="/js/home-page/circle-progress.js"></script>
  <script type="text/javascript" src="/js/home-page/modernizr.custom.js"></script>
  <script type="text/javascript" src="/js/home-page/directionHover.js"></script>
  <script type="text/javascript" src="/js/home-page/js-image-slider.js"></script>
  <script type="text/javascript" src="/js/home-page/wow.min.js"></script>
  <script type="text/javascript" src="/js/home-page/theme.js"></script>
  <script src="/js/comming-soon/jquery-3.1.1.min.js"></script>
  <script src="/js/comming-soon/jquery.countdown.min.js"></script>
  <script src="/js/comming-soon/scripts.js"></script>
</body>

</html>