<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Trang chủ</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <% include ../partials/_navbar %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <% include ../partials/_sidebar %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h2 class="card-title text-primary">Nhập mã số sinh viên</h2>
                      <textarea class="form-control mb-3" id="IdNumber" rows="4"></textarea>
                      <button type="button" class="btn btn-primary btn-fw btn-block" id="findDelegates">
                        <i class="fa fa-search"></i>Tìm kiếm</button>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h2 class="card-title text-primary">Mã barcode</h2>
                      <img id="delegatesBarcode" src="/images/barcode.jpg" style="width: 100%; height: auto;">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h2 class="card-title text-primary">Mã qrCode</h2>
                      <img id="delegatesQrcode" src="/images/barcode.jpg" style="width: 100%; height: auto;">
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title text-primary">Thông tin đại biểu</h2>
                  <div class="row">
                    <div class="col-md-4">
                      <img src="/images/faces/face1.jpg" id="delegatesImage">
                    </div>
                    <div class="col-md-8">
                      <div class="row mb-3">
                        <label class="col-sm-3">MSSV:</label>
                        <div class="col-sm-9">
                          <h4 id="delegatesIdNumber">16520241</h4>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label class="col-sm-3">Họ và tên:</label>
                        <div class="col-sm-9">
                          <h4 id="delegatesName">Nguyễn Minh Đức</h4>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label class="col-sm-3">Ngày sinh:</label>
                        <div class="col-sm-9">
                          <h4 id="delegatesBirthDate">06/11/1998</h4>
                        </div>

                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-3">Là đại biểu</label>
                        <div class="col-sm-9">
                          <h4 id="delegatesType">Chính thức</h4>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label class="col-sm-3">Khoa:</label>
                        <div class="col-sm-9">
                          <h4 id="delegatesFaculty">HTTT</h4>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-sm-3">Lớp:</label>
                        <div class="col-sm-9">
                          <h4 id="delegatesClass">HTCL2016</h4>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- content-wrapper ends -->
        <% include ../partials/_footer %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>
  <script src="/js/notify.min.js"></script>

  <!-- End custom js for this page-->
  <script>
    $('#findDelegates').on('click', function () {
      let IdNumber = $('#IdNumber').val();
      $.ajax({
        url: `/admin/delegates/get-code/${IdNumber}`,
        method: "GET",
        success: function (result) {
          let userInfo = result.data;
          let birthDate = new Date(userInfo.birthDate);
          $('#findDelegates').val('');
          $('#delegatesIdNumber').text(userInfo.IdNumber);
          $('#delegatesName').text(userInfo.fullName);
          $('#delegatesBirthDate').text(`${birthDate.getDate()}/${birthDate.getMonth() + 1}/${birthDate.getFullYear()}`);
          $('#delegatesType').text(userInfo.typeOfDelegate);
          $('#delegatesFaculty').text(userInfo.faculty);
          $('#delegatesClass').text(userInfo.class);
          $('#delegatesImage').attr("src", userInfo.imageLink);
          $('#delegatesBarcode').attr("src", userInfo.barCode);
          $('#delegatesQrcode').attr("src", userInfo.qrCode);
          $('#findDelegates').notify("Tìm kiếm hoàn tất", "success");
        },
        error: function (result) {
          $('#findDelegates').val('');
          $('#findDelegates').notify("Đại biểu không tồn tại", "danger");
        }
      })
    })
  </script>
</body>

</html>