<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cập nhật thông tin đại biểu</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />

</head>

<body>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth theme-one" style="background: url('/images/background_no_logo.png'); background-size: cover;">

        <div style="top: 20px; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto;">
          <div class="col-md-3" style="margin: auto">
            <img src="/images/logo.png" style="width: 80%; ">
          </div>
        </div>

        <div class="row" style="margin: auto; width: 80%;">

          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 grid-margin stretch-card" style="margin: auto;">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <form action="/admin/delegates/update-info" method="POST" enctype="multipart/form-data">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Trình độ học vấn</label>
                          <select class="form-control" id="numberOfYear" name="numberOfYear" required>
                            <option value="KỸ SƯ">Kỹ sư</option>
                            <option value="CỬ NHÂN">Cử nhân</option>
                            <option value="ĐẠI HỌC NĂM 1">Đại học năm 1</option>
                            <option value="ĐẠI HỌC NĂM 2">Đại học năm 2</option>
                            <option value="ĐẠI HỌC NĂM 3">Đại học năm 3</option>
                            <option value="ĐẠI HỌC NĂM 4">Đại học năm 4</option>
                            <option value="ĐẠI HỌC NĂM 5">Đại học năm 5</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Trình độ lý luận chính trị</label>
                          <select class="form-control" id="politic" name="politic">
                            <option value="KHÔNG">Không có</option>
                            <option value="TRUNG CẤP">Tương đương Trung cấp</option>
                            <option value="SƠ CẤP">Sơ cấp</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="name">Bạn là</label>
                          <div class="form-check form-check-inline" style="display: inline-flex;">
                            <input class="form-check-input" type="checkbox" id="youthUnipn" value="true" name="isALeaderYouth">
                            <label class="form-check-label" for="youthUnipn">Cán bộ Đoàn</label>
                          </div>
                          <div class="form-check form-check-inline" style="display: inline-flex;">
                            <input class="form-check-input" type="checkbox" id="associaltion" value="true" name="isALeaderAssocial">
                            <label class="form-check-label" for="associaltion">Cán bộ Hội</label>
                          </div>
                          <div class="form-check form-check-inline" style="display: inline-flex;">
                            <input class="form-check-input" type="checkbox" id="partyMembers" value="true" name="partyMembers">
                            <label class="form-check-label" for="partyMembers">Đảng viên</label>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Để cho hình ảnh Đại biểu được đẹp, BTC cung cấp cho các bạn bảng thiết kế
                            hình thẻ và các bạn vui lòng cập nhật lại hình ảnh cho phù hợp</label>
                          <img src="">
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Hình đại diện</label>
                          <input type="file" class="form-control-file" name="imageLink" id="exampleFormControlFile1"
                            multiple accept='image/*' required>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="submit">Cập nhật thông tin</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>



    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>


  <!-- SCIPTS -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>

</body>

</html>