<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Trang chủ</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/votes/answers">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Biểu quyết</span>
      </a>
    </li>

    <% if(roles.includes("ADMIN") || roles.includes("CHECKING")) { %>
    <li class="nav-item">
      <a class="nav-link" href="/admin/delegates/checking">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Điểm danh đại biểu</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/delegates/get-code">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Lấy thông tin đại biểu</span>
      </a>
    </li>

    <% } %>

    <% if(roles.includes("ADMIN")) { %>

    <li class="nav-item">
      <a class="nav-link" href="/admin/delegates/session">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Quản lý phiên làm việc</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/delegates">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Quản lý danh sách Đại biểu</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/votes">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Quản lý câu hỏi</span>
      </a>
    </li>

    <% } %>
  </ul>
</nav>