<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Trang chủ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#quan-ly" aria-expanded="false" aria-controls="quan-ly">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Quản lý</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="quan-ly">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/quan-ly/danh-sach-nhan-su">Danh sách nhân sự</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quan-ly/danh-sach-khoa-phong">Danh sách các khoa, phòng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Hợp đồng lao động</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Quá trình công tác, đào tạo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quan-ly/khen-thuong-ky-luat">Khen thưởng, kỉ luật</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Lương, phụ cấp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Theo dõi nghĩ phép</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Báo cáo thống kê</span>
        <i class="menu-arrow"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Sự kiện</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tin-tuc">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tin tức mới</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/giay-to">
        <i class="menu-icon mdi mdi-sticker"></i>
        <span class="menu-title">Giấy tờ mẫu</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-restart"></i>
        <span class="menu-title">Tài khoản</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Tất cả tài khoản </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Tạo tài khoản </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Đổi mật khẩu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> 404 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> 500 </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>